.button 
{
    background-color: red;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
}

.button-primary 
{
    background-color: rgb(117, 180, 251);
}

.button-warning 
{
    background-color: rgb(252, 254, 100);
}
